html,
body {
	margin:0px;
	font-family:Ubuntu, Sans-serif;
	color:#303030;
}

#site {
	width:100%;
}

#site,
#site tr,
#site tr td {
	border-collapse:collapse;
	vertical-align:top;
	margin:0px;
}

#site tr td {
	padding:0px;
}

#head {
	min-width:800px;
	text-align:center;
	border-bottom:1px solid #D2D2D2;
	background-color:#F2F2F2;
}

#book {
	min-width:500px;
	border-right:1px solid #D2D2D2;
}

#sidebar {
	width:300px;
	min-width:300px;
}

#menu {
	border-bottom:3px solid #D2D2D2;
}

.head {
	padding:30px;
	font-size:14px;
}

.pagination .newer,
.pagination .older {
	padding:30px;
	font-size:14px;
}

.pagination {
	border-bottom:1px dotted #D2D2D2;
	padding-top:20px;
	padding-bottom:20px;
	text-align:center;
}

.book .article,
.book .tab {
	border-bottom:1px dotted #D2D2D2;
	padding:30px;
	font-size:14;
}

.book .article .title,
.book .article .date_time,
.book .article .footer,
.book .tab .title {
	text-align:center;
}

.book .article .content,
.book .tab .content {
	text-align:justify;
	line-height:150%;
}

.sidebar .widget {
	padding:30px;
	text-align:justify;
	font-size:14px;
	line-height:150%;
}

.menu {
	text-align:center;
	margin:0px;
	background-color:#222222;
}

.menu .menu_container {
	list-style-type:none;
	margin:0px;
	padding:10px;
}

.menu .menu_container .menu_item {
	display:inline;
	margin:0px;
	padding-top:0px;
}

.menu .menu_container .menu_item a {
	font-size:14px;
	padding-top:10px;
	padding-bottom:10px;
	padding-left:15px;
	padding-right:15px;
}

.menu .menu_container .menu_item a:link {color:#F2F2F2;}      /* unvisited link */
.menu .menu_container .menu_item a:visited {color:#F2F2F2;}  /* visited link */
.menu .menu_container .menu_item a:hover {color:#ff0000;}  /* mouse over link */
.menu .menu_container .menu_item a:active {color:#ff0000;}  /* selected link */

a:link {color:#303030;}      /* unvisited link */
a:visited {color:#303030;}  /* visited link */
a:hover {color:#ff0000;}  /* mouse over link */
a:active {color:#ff0000;}  /* selected link */

.title a, .menu_item a {text-decoration:none;}

.head .title {
	font-size:36px;
}

.article .title,
.tab .title {
	font-size:20px;
}

.widget .title {
	font-weight:bold;
}

.article .date_time {
	font-size:12px;
}

.comment {
	text-align:left;
	padding:20px;
	margin-top:20px;
	margin-bottom:20px;
	border:1px dotted #D2D2D2;
}

.reply {
	padding-left:20px;
}

.comment .name {
	font-weight:bold;
}

.comment .date,
.comment .time {
	font-size:14px;
}

.comment .content {
	padding-top:10px;
}
